.product_list {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-row-gap: 20px; 
    padding: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}
.loaderImage {
    width: 200px;
    height: 200px;
    margin: auto; 
    display: block; 
}


@media only screen and (min-width: 600px) and (max-width: 992px) {
    .contentDiv > .product_list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }
}

@media only screen and (max-width: 599px) {
    .contentDiv > .product_list {
        grid-template-columns: repeat(1, 1fr); 
        grid-gap: 10px; 
    }
}


